@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.portfolioContainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}
.portfolioContainer>h1{
    padding-bottom: 15px;
}
.portfolioContainer>p{
    padding-bottom: 20px;
}
.portfolioContainer__portfolios{
    display:flex;
    width: 60vw;
    margin-top: 50px;
    flex-wrap: wrap;
}